Repository re-sphere/re-network-plus-old, changes with the labels that .github/labeler.yml gives for each.
All labels: packages/backend, packages/backend:test, packages/frontend, packages/frontend:test, packages/sw, packages/cherrypick-js, packages/cherrypick-js:test

.github/labeler.yml:

'packages/backend':
- packages/backend/**/*

'packages/backend:test':
- packages/backend/test/**/*

'packages/frontend':
- packages/frontend/**/*

'packages/frontend:test':
- cypress/**/*

'packages/sw':
- packages/sw/**/*

'packages/cherrypick-js':
- packages/cherrypick-js/**/*

'packages/cherrypick-js:test':
- packages/cherrypick-js/test/**/*
- packages/cherrypick-js/test-d/**/*

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Create Re:Network.Service
  Startup/renetwork.service
Labels: none

Re:Network Plus 仕様に。
  packages/frontend/src/pages/about-misskey.vue
Labels: packages/frontend

icon change
  packages/backend/assets/apple-touch-icon.png
  packages/backend/assets/favicon.ico
  packages/backend/assets/favicon.png
  packages/backend/assets/icons/192.png
  packages/backend/assets/icons/512.png
  packages/backend/assets/splash.png
  packages/frontend/assets/cherrypick.svg
Labels: packages/backend, packages/frontend

Change icon
  assets/title_float_cherrypick.svg
Labels: none

Xisskeyを使いやすく。
  locales/ja-JP.yml
  packages/frontend/src/pages/about-misskey.vue
  packages/frontend/src/pages/about.vue
Labels: packages/frontend

icon changed
  assets/title_float_cherrypick.svg
  packages/frontend/assets/cherrypick.svg
Labels: packages/frontend

icon change
  assets/title_float_cherrypick.svg
  packages/frontend/assets/cherrypick.svg
Labels: packages/frontend

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Meta Change
  packages/backend/src/models/entities/Meta.ts
  packages/backend/src/server/NodeinfoServerService.ts
  packages/backend/src/server/api/endpoints/meta.ts
Labels: packages/backend

Update package.json
  package.json
Labels: none

Update README.md
  README.md
Labels: none
